@inherits LayoutComponentBase

<Header LoginClick="OnLoginClick" RegistrationClick="OnRegistrationClick"/>

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<Footer />

<LoginForm @ref=lf />
<RegistrationForm @ref=rf/>

@code{
    private LoginForm? lf;
    private RegistrationForm? rf;

    private void OnLoginClick()
    {
        if (AppData.RegistrationActive) { rf?.Close(); AppData.RegistrationActive = false; }
        lf?.Open();
        if (AppData.BurgerActive) { AppData.BurgerActive = false;}
    }

    private void OnRegistrationClick()
    {
        if (AppData.LoginActive) { lf?.Close(); AppData.LoginActive = false; }
        rf?.Open();
        if (AppData.BurgerActive) { AppData.BurgerActive = false; StateHasChanged(); }
    }
}