.burger {
    --width: 1.875rem;
    --height: 1.125rem;
    --line-height: 0.125rem;
    --line-radius: 2px;
}

.burger {
    width: var(--width);
    height: var(--height);
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
    outline: none;
    display: none;
    z-index: 11;
}

    .burger:hover {
        cursor: pointer;
    }

    .burger span {
        display: block;
        width: 100%;
        height: var(--line-height);
        position: absolute;
        border-radius: var(--line-radius);
        transition: 0.25s linear;
    }

        .burger span:nth-child(1) {
            background-color: #685ED6;
            top: 0;
        }

        .burger span:nth-child(2) {
            background-color: #33AFE1;
            top: calc(50% - var(--line-height) / 2);
        }

        .burger span:nth-child(3) {
            background-color: #18E1F7;
            bottom: 0;
        }

    .burger.active span:nth-child(1) {
        top: calc(50% - var(--line-height) / 2);
        transform: rotate3d(0, 0, 1, 45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        top: calc(50% - var(--line-height) / 2);
        transform: rotate3d(0, 0, 1, -45deg);
        background-color: #685ED6;
    }

    @media (max-width: 450px){
        .burger{
            display: inline-block;
        }
    }