<span class=@((Order == Current) ? "bullet active" : "bullet") @onclick="UpdateCurrentValue"></span>

@code {
    [Parameter]
    public int Current { get; set; }
    [Parameter]
    public int Order { get; set; }
    [Parameter]
    public EventCallback<int> CurrentChanged { get; set; }

    private async Task UpdateCurrentValue()
    {
        Current = Order;
        await CurrentChanged.InvokeAsync(Current);
    }
}
