.logo{
    display: flex;
    align-items: center;
    height: 42px;
    user-select: none;
}

.logo__icon{
    width: 55px;
    height: 42px;
}

.logo__text {
    text-transform: lowercase;
    font-size: 1.755rem;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 450px){

    .logo {
        height: 30px;
    }

    .logo__icon {
        width: 40px;
        height: 30px;
    }

    .logo__text{
        font-size: 1.25rem;
    }

}
