<section class="connection-section" id="connection">
    <Container>
        <img src="images/connection_img.png" alt="Подключение"/>
        <ConnectionForm />
    </Container>
</section>

@code {

}
