<section class="steps-section" id="steps">
    <Container>
        <SectionTitle>
            Всего 3 шага для подключения Telegram чата
        </SectionTitle>
        <Carousel T="StepModel" Items="AppData.Steps" MoveStep="300" />
    </Container>
</section>

@code {

}
