<section class="tariffs-section" id="tariffs">
    <Container>
        <SectionTitle>Тарифы</SectionTitle>
        <h3>Стоимость зависит от трафика сайта</h3>
        <Carousel T="TariffModel" Items="AppData.Tariffs" MoveStep="366"/>
    </Container>
</section>



@code {

}
