<section class="testimonial-section">
    <Container>
        <SectionTitle>
            Отзывы клиентов
        </SectionTitle>
        <Carousel Items="AppData.Testimonials" T="TestimonialModel" MoveStep="570"/>
    </Container>
</section>

@code {

}
